<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <%= label_tag :first_name %>
  <p>
  <%= f.text_field :first_name %>
  </p>
  <%= label_tag :last_name %>
  <p>
  <%= f.text_field :last_name %>
  </p>
  <%= label_tag :email %>
  <p>
  <%= f.text_field :email %>
  </p>
  <%= label_tag :password %>
  <p>
  <%= f.password_field :password %>
  </p>
  <%= label_tag :password_confirmation %>
  <p>
  <%= f.password_field :password_confirmation %>
  </p>
  
  <%= f.submit "Submit" %>

<% end %>

